<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arctiq Weather</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <% if(weather !== null){ %>
    <style>
      body { 
        background-image: url('https://open.mapquestapi.com/staticmap/v5/map?key=<%= mapApiKey %>&center=<%= weather.name %>,<%= weather.sys.country %>&size=1920,1920&zoom=14&type=<%= mapType %>'); 
      }  
    </style>
  <% } %>
    <script>
      window.onload = function() {
        document.getElementById("city").focus();
      };
      function toggle() {
        var x = document.getElementById("json");
        x.style.display = "block";
        var y = document.getElementById("show");
        y.style.display = "none";
      }
    </script>
  </head>
  <body>
    <div class="box">
      <p>
        Arctiq Weather &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2.0<br />
        -----------------------------------------------<br />
      </p>
      <form action="/" method="post">
        Lookup ........ : <input name="city" type="text" id="city" placeholder="Type city name and hit enter." required>
      </form>

    <% if(weather !== null){ %>
      <p>
        City .......... : <span class="highlight"><%= weather.name %>, <%= weather.sys.country %></span><br />
        Temperature ... : <span class="highlight"><%= Math.round(weather.main.temp) %>&#176;C</span><br />
        Humidity ...... : <span class="highlight"><%= Math.round(weather.main.humidity) %>%</span><br />
        Wind .......... : <span class="highlight"><%= Math.round(weather.wind.speed) %> m/s</span>
      </p>
    <% } %>

      <p class="dimmed">
        Hostname ...... : <%= hostname %>
      </p>

    <% if(weather !== null){ %>
      <p id="show" onclick="toggle()">
        Raw JSON ...... : click here to show
      </p>
      <pre class="dimmed" id="json"><%- JSON.stringify(weather, null, 2) %></pre>
    <% } %>

    <% if(error !== null){ %>
      <p class="highlight"><%= error %></p>
    <% } %>

    </div>
    <img class="bottomright" src="/logo.png" />
  </body>
</html>
